.moviesListContainer {
    padding-left: 30px;
  }
  
  .movieList {
    list-style: none;
    padding: 0;
  }
  
  .movieItem {
    margin-bottom: 15px;
  }
  
  .movieLink {
    padding-left: 10px;
    text-decoration: none;
    color: #222;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .movieLink:hover {
    background-color: #42b983;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 3px;
  }
  